Flask==3.0.3
WTForms==3.1.2
Flask-WTF==1.2.1
python-dotenv==1.0.1
Werkzeug==3.0.3
selenium==4.22.0
pymongo==4.7.3
lingua-language-detector==2.0.2
translators==5.9.2
spacy==3.7.5
https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.7.0/ru_core_news_lg-3.7.0-py3-none-any.whl#egg=ru_core_news_lg

tqdm==4.66.4
requests==2.32.3
scikit-learn==1.5.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
gensim==4.3.2
scipy==1.12