<!DOCTYPE html>
<html data-bs-theme="light" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Система поиска научной информации</title>
  <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/Montserrat.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="fonts/fontawesome-all.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/baguetteBox.min.css") }}">
  <link rel="stylesheet" href="{{ url_for('static', filename="css/vanilla-zoom.min.css") }}">
</head>

<body>
  <nav class="navbar navbar-expand fixed-top bg-body clean-navbar">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">
        <i class="far fa-lightbulb text-info mx-2"></i>
      </a>
      <div id="navcol-1" class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <h5 class="text-uppercase text-info">Количество статей - <strong>{{ total_articles }}</strong></h5>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="page">
    <section class="clean-block features">
      <div class="container">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="block-heading">
            <h2 class="text-info">Полнотекстовый поиск научной информации</h2>
            <div class="form-check form-switch form-check-inline mb-2">
              Автодополнение:
            </div>
            <div class="form-check form-switch form-check-inline mb-2">
              {{ form.switch_autocomplete(class="form-check-input", type="checkbox", checked=switch_autocomplete, id="flexSwitchAutocomplete") }}
              {{ form.switch_autocomplete.label(class="form-check-label", for="flexSwitchAutocomplete") }}
            </div>
            <div class="form-check form-switch form-check-inline mb-2">
              {{ form.switch_autocomplete_wiki(class="form-check-input", type="checkbox", checked=switch_autocomplete_wiki, id="flexSwitchAutocompleteWiki") }}
              {{ form.switch_autocomplete_wiki.label(class="form-check-label", for="flexSwitchAutocompleteWiki") }}
            </div>
            <div class="form-check form-switch form-check-inline mb-2">
              {{ form.switch_more_results(class="form-check-input", type="checkbox", checked=switch_more_results, id="flexSwitchMoreResults") }}
              {{ form.switch_more_results.label(class="form-check-label", for="flexSwitchMoreResults") }}
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                {{ form.search_string(class="form-control mt-2 mb-3", type="text", placeholder="Введите запрос") }}
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <div class="btn-group" role="group">
                  {{ form.search_similar(class="btn btn-primary") }}
                  {% if articles %}
                    <a class="btn btn-secondary" role="button" href="{{ url_for('.index') }}">Очистить</a>
                  {% endif  %}
                </div>
              </div>
            </div>
            {% if addon_words %}
              <div class="row justify-content-center">
                <div class="col-lg-8 mt-4">
                  <b>Автодополнение:</b><br>
                  {{ addon_words }}
                </div>
              </div>
            {% endif %}
          </div>
        </form>
        {% if articles %}
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Результаты поиска</th>
                      <th>Близость</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for article, url, date, perc in articles.values() %}
                      <tr>
                        <td>{{ article.reference }} URL: <a href="{{ url }}">{{ url }}</a> (дата обращения: {{ date }}).</td>
                        <td>{{ perc }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </section>
  </main>
  <script src="{{ url_for('static', filename="bootstrap/js/bootstrap.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/baguetteBox.min.js") }}"></script>
  <script src="{{ url_for('static', filename="js/vanilla-zoom.js") }}"></script>
  <script src="{{ url_for('static', filename="js/theme.js") }}"></script>
</body>

</html>